    <!-- Script -->
    <script src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/index.js"></script>
    {{ if isset .Site.Params "googleanalyticsid" }}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-51570821-5"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', '{{ .Site.Params.googleAnalyticsId }}');
    </script>
    {{ end }}